@import 'src/styles/mixins';

.Tasks {
    .button-completed{
        color: blue;
    }

    &-button {
        &-completed{
            color: green;
        }
    
        &-deleted {
            color: red;
        }
    }
}
